
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

#contact-us-btn {
    /* background-color: #4CAF50; */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#contact-form-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background:#e3d5d2;
    /* Semi-transparent black background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    /* Ensure the popup is above other elements */
    transition: opacity 0.5s ease-in-out;
    /* Smooth fade in/out */
}

.hidden {
    opacity: 0;
    pointer-events: none;
    /* Disable interaction when hidden */
}

.form-group,
h2 {
    /* text-align: center; */
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 20px;
}

form {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: white;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="email"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.checkbox {
    display: flex;
    align-items: center;
}

.checkbox input[type="checkbox"] {
    margin-right: 10px;
  
}

button {
    background-color: #ff6347;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    
}


/* card css */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 0;
}

.card {
    width: 250px;
    height: 150px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card:hover {
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    width: 255px;
    height: 155px;
    transition:0.3s ease-in-out;
}


.card p {
    font-weight: bold;
}

.card i{
    margin: 15px 0;
}
